{% extends 'base.html' %}

{% block head %}
{% load static %}
<script src="{% static 'js/chips-input.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="page-card">
  <h1>Initiate New Process</h1>

  <form>
	<div class="form-group">
	  <label for="job_title">Job Title</label>
	  <input class="form-input" type="text" id="job_title" name="job_title" placeholder="e.g: Senior Machine Learning Engineer" />
	</div>

	<div class="form-group">
	  <label>Required Skills</label>
	  <chips-input name="required_skills"></chips-input>
	</div>

	<div class="form-group">
	  <label>Minimum Experience (in years)</label>
	  <input class="form-input" type="number" id="min_experience_years" name="min_experience_years" placeholder="e.g: 5" value="1" />
	</div>

	<div class="form-group">
	  <label>Must have keywords</label>
	  <chips-input name="must_have_keywords"></chips-input>
	</div>

	<div class="form-group">
	  <label>Preferred Education</label>
	  <input type="checkbox" name="preferred_education" value="B.Tech"> B.Tech<br>
	  <input type="checkbox" name="preferred_education" value="M.Tech"> M.Tech<br>
	  <input type="checkbox" name="preferred_education" value="MCA"> MCA<br>
	  <input type="checkbox" name="preferred_education" value="BCA"> BCA<br>
	</div>

	<div class="form-group">
	  <button class="btn" type="submit">Start</button>
	</div>
  </form>
</div>
{% endblock %}
